body {
  background-color: rgb(128, 116, 124);
  color: #ffffff; /* Adjust text color for readability */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: bottom;
  width: auto;
  bottom: 0;
  z-index: 100;
}

.title-head {
  text-align: center;
  margin-bottom: 50px;
}

.home {
  text-align: center;
}

.fan-images {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.fan-image {
  /* Set your desired size */
  height: auto;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: fanOut 1s ease forwards;
}

/* Wrap image in a scaling container for smooth hover */
.fan-image-wrapper {
  display: inline-block;
  transition: transform 0.3s ease;
}

.fan-image-wrapper:hover {
  transform: scale(1.1) translateY(-30px) translate(-15px);
  z-index: 1;
}

/* Keyframes for fan-out animation */
@keyframes fanOut {
  0% {
    opacity: 0;
    transform: rotate(0deg) translateX(0px) scale(0.5);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    /* Final scale of 1 */
  }
}

.fan-image.first {
  animation-delay: 0.2s;
  width: 270px;
  transform: rotate(-30deg) translateX(-100px);
}

.fan-image.second {
  animation-delay: 0.4s;
  width: 300px;
  transform: rotate(0deg) translateX(0px); /* Center image */
}

.fan-image.third {
  animation-delay: 0.6s;
  width: 295px;
  transform: rotate(30deg) translateX(100px);
}

/* Style and animate text */
.animated-text {
  margin-top: 700px;
  margin-bottom: 400px;
  opacity: 0; /* Initial hidden state */
}

.animated-text.visible {
  animation-delay: 0.4s;
  animation: slideUp 1.5s ease forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.features {
  text-align: center;
  margin: 20px;
}

.feature-section {
  margin: 40px 0;
  opacity: 0;
  transform: translateY(30px);
}

.feature-section.visible {
  animation: slideUp 0.8s ease forwards;
}
